/*------------------------------\
            Search
\------------------------------*/
.search {
    align-items: center;
    background: $component-bg-color 0% 0% no-repeat padding-box;
    border-radius: 15px;
    box-shadow: 0px 16px 30px hsla(227, 46%, 50%, 0.2);
    display: flex;
    height: 60px;
    justify-content: space-around;
    margin-bottom: rem(16);
    opacity: 1;
  
    input {
      border: none;
      outline: none;
    }
  
    input[type="text"] {
      color: $primary-text-color;
      width: sizeSmall(183);
    }
  }