.stats {
    background: hsla(227, 100%, 98%, 1) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    margin-bottom: rem(24);
    margin-top: rem(25);
    opacity: 1;
    padding: rem(18) rem(16) rem(19) rem(15);
    width: 100%;
  
    thead,
    tbody {
      text-align: center;
    }
  
    tbody {
        color: $heading-color;
    }
  }