/*------------------------------\
            Header
\------------------------------*/

header {
  align-items: center;
  display: grid;
  grid-template-columns: auto 55px 20px;
  margin-bottom: rem(36);
}


h1 {
  color: $heading-color;
}

.dark {
  h1 {
    color: $primary-text-color-dark;
  }
}



