// Fonts
$primary-font: "Space Mono", monospace;

// color pallete
$very-light-blue: hsla(227, 100%, 98%, 1);
$navy: hsla(217, 35%, 45%, 1);

// colors
$bg-color:$very-light-blue;
$primary-text-color: $navy;